[submodule "lib/v3-core"]
	path = lib/v3-core
	url = https://github.com/Uniswap/v3-core
[submodule "lib/v3-periphery"]
	path = lib/v3-periphery
	url = https://github.com/Uniswap/v3-periphery
[submodule "paymaster/lib/createx"]
	path = paymaster/lib/createx
	url = https://github.com/pcaversaccio/createx
[submodule "paymaster/lib/forge-std"]
	path = paymaster/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "paymaster/lib/openzeppelin-contracts"]
	path = paymaster/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
